@model CombatGame.Models.Team
﻿@{
    ViewBag.Title = "Team";
    Layout = "_Layout";
}
    @if ( @ViewBag.members < 3)
    {
    <a class="text-decoration-none border border-dark text-dark" asp-controller="Team" asp-area="Teams" asp-action="Edit" asp-route-id="@Model.TeamId">add to team</a>
    }
<table class="table">
    <thead>
        <tr>
            <td scope="col">@Model.Name</td>
    </thead>
    <tbody>
        @foreach (CombatGame.Models.TeamMembers c in ViewBag.TeamMembers)
        { 
            <tr>
                <td>
                     @c.character.Name
                </td>
            </tr>
        }
    </tbody>
</table>