@model CombatGame.Models.Team
﻿@{
    ViewBag.Title = "Post";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <td scope="col">@Model.Name</td>
    </thead>

    <tbody>
        @foreach (CombatGame.Models.Character c in ViewBag.Characters)
        { 
            <tr>
                <td>
                     @c.Name
                </td>
            </tr>
        }
    </tbody>
</table>