@*
   list of characters
*@
@model List<CombatGame.Models.Character> //index for viewing a user's post
@{
    ViewBag.Title = "Characters";
    Layout = "_Layout";
}

<a class="text-decoration-none border border-dark text-dark" asp-controller="Character" asp-area="Characters" asp-action="createCharacter">Create new Character</a>
<table class="table table-bordered table-striped">

    <tbody>
        @foreach (var characters in Model)
        {
            <tr>
                <td>
                    <a class="text-decoration-none border border-dark text-dark" asp-controller="Character" asp-action="viewCharacter" asp-area="Characters" asp-route-id="@characters.CharacterId"> @characters.Name </a>
                </td>
            </tr>
        }
    </tbody>
</table>