@model List<Team> //just having it list teams rn
@{
    ViewBag.Title = "Home Page";
}
<head>

</head>
<h2>All Teams</h2>
<a class="text-decoration-none border border-dark text-dark" asp-controller="Team" asp-area="Teams" asp-action="Create">Create new team</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var teams in Model)
        {
            <tr>
                <td>
                    <a class="text-decoration-none border border-dark text-dark" asp-controller="Team" asp-action="Index" asp-area="Teams" asp-route-id="@teams.TeamId" > @teams.Name </a>
                </td>
            </tr>
        }
    </tbody>
</table>